# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual environment
venv/
.venv/

# Django
*.log
db.sqlite3
staticfiles/
media/
logs/

# Environment secrets
.env
.env.local

# Testing
.coverage
.pytest_cache/
htmlcov/

# IDEs
.vscode/settings.json
.idea/

# Windows
Thumbs.db
.DS_Store